// Desktop view

#logo {
  position: fixed;
  left: 4rem;
  top: 4rem;
  font-size: 1.8rem;

  span {
    font-size: 2rem;
    color: #fff;
  }
}

#up, #down {
  position: fixed;
  bottom: 5rem;
  cursor: pointer;
}

#up {
  right: 10rem;
}

#down {
  left: 10rem;
}

nav#mobile-menu-button {
  display: none;
}

nav#full-menu-mobile {
  display: none;
}

nav#full-menu {
  position: fixed;
  right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 4rem;

  a {
    text-decoration: none;
    font-weight: 400;
    line-height: 2rem;
    color: #000;
    font-size: 1.8rem;
    padding: .5rem;
  }

  a:hover {
    color: #fff;
    font-weight: 700;
  }
}

div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .container {
    width: 100%;
  }

  .pics {
    width: 50%;

    img {
      width: 55%;
    }
  }

  .text {
    width: 50%;
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: #000;
    padding-left: 4rem;
    padding-right: 2rem;
    background: #f2f2f2;
  }
}