// General settings

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

#hi .pics {
  background: #84FFFF;
}

#edu .pics {
  background: #18FFFF;
}

#recruit .pics {
  background: #00E5FF;
}

#copy .pics {
  background: #00B8D4;
}

#dev .pics {
  background: #00E676;
}

#contact .pics {
  background: #69F0AE;
}



.inactive {
  display: none;
}