// Medium view

@media (max-width: 1100px) {

  #logo {
    left: 4rem;
    top: 2rem;
  }

  #up, #down {
    bottom: 3rem;

    img {
      width: 5rem;
    }
  }

  #up {
    right: 6rem;
  }

  #down {
    left: 6rem;
  }

  nav#full-menu {
    display: none;
  }

  nav#full-menu-mobile {
    display: none;
    position: fixed;
    flex-direction: column;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .95);
    min-height: 100vh;
    width: 50%;
    padding-top: 4rem;

    a {
      text-decoration: none;
      font-weight: 400;
      line-height: 1.8rem;
      color: #000;
      font-size: 2.5rem;
      padding: 2rem;
    }

    a:hover {
      color: dimgray;
      font-weight: 700;
    }
  }

  nav#mobile-menu-button {
    position: fixed;
    right: 3rem;
    display: flex;
    padding-top: 2rem;
    z-index: 999;
    font-weight: 400;
    color: #000;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: dimgray;
      font-weight: 700;
    }
  }

  div {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .container {
      width: 100%;
    }

    .pics {
      width: 50%;

      img {
        width: 70%;
      }
    }

    .text {
      width: 50%;
      font-size: 2.8rem;
      font-weight: 500;
      line-height: 3rem;
      color: #000;
      padding-left: 4rem;
      padding-right: 2rem;
      background: #f2f2f2;
    }
  }
}