// Mobile view

@media (max-width: 720px) {

  #lang {
    left: 1.5rem;
  }

  #logo {
    left: 3rem;
  }

  #up, #down {
    bottom: 2rem;

    img {
      width: 4rem;
    }
  }

  #up {
    right: 3rem;
  }

  #down {
    left: 3rem;
  }

  nav#full-menu-mobile {
    justify-content: flex-start;
    width: 100%;
    padding-top: 7rem;

    a {
      line-height: 1.5rem;
      font-size: 2.2rem;
    }
  }

  div {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }

    .pics {
      width: 100%;
      order: -1;

      img {
        width: 80%;
      }
    }

    .text {
      width: 100%;
      font-size: 2.5rem;
      text-align: center;
      padding-left: 7rem;
      padding-right: 7rem;
    }
  }
}