//Reset

html, body, ul, ol, li, form, fieldset, legend
{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td
{
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

input, textarea, select
{
  font-size: 110%;
  line-height: 1.1;
}

abbr, acronym
{
  border-bottom: .1em dotted;
  cursor: help;
}


// General

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

#hi .pics {
  background: #84FFFF;
}

#edu .pics {
  background: #18FFFF;
}

#recruit .pics {
  background: #00E5FF;
}

#copy .pics {
  background: #00B8D4;
}

#dev .pics {
  background: #00E676;
}

#contact .pics {
  background: #69F0AE;
}

#up, #down {
  position: fixed;
  bottom: 5rem;
  font-size: 2rem;
  cursor: pointer;
}

#up {
  right: 10rem;
}

#down {
  left: 10rem;
}

.inactive {
  display: none;
}

// Desktop view

nav#mobile-menu {
  display: none;
}

nav#full-menu {
  position: fixed;
  right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 4rem;

  a {
    text-decoration: none;
    font-weight: 400;
    line-height: 2.2rem;
    color: #000;
    font-size: 2rem;
    padding: .5rem;
  }

  a:hover {
    color: #fff;
    font-weight: 700;
  }
}

div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .container {
    width: 100%;
  }

  .pics {
    width: 56.25%;

    img {
      width: 50%;
    }
  }

  .text {
    width: 43.75%;
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 5rem;
    color: #000;
    padding-left: 4rem;
    padding-right: 2rem;
    background: #f2f2f2;
  }
}

// Medium view

@media (max-width: 1100px) {
  nav#full-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(193, 205, 193, .9);
    min-height: 100vh;
    width: 50%;
    padding-top: 4rem;

    a {
      text-decoration: none;
      font-weight: 400;
      line-height: 2.2rem;
      color: #000;
      font-size: 3rem;
      padding: 2rem;
    }

    a:hover {
      color: #fff;
      font-weight: 700;
    }
  }

  nav#mobile-menu {
    position: fixed;
    right: 3rem;
    display: flex;
    padding-top: 2rem;
    z-index: 999;
    font-weight: 400;
    color: #000;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: #fff;
      font-weight: 700;
    }
  }

  div {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .container {
      width: 100%;
    }

    .pics {
      width: 50%;

      img {
        width: 70%;
      }
    }

    .text {
      width: 50%;
      font-size: 3.3rem;
      font-weight: 500;
      line-height: 5rem;
      color: #000;
      padding-left: 4rem;
      padding-right: 2rem;
      background: #f2f2f2;
    }
  }
}

// Mobile view

@media (max-width: 720px) {

  nav#full-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(193, 205, 193, .9);
    min-height: 100vh;
    width: 100%;

    a {
      text-decoration: none;
      font-weight: 400;
      line-height: 2.2rem;
      color: #000;
      font-size: 3rem;
      padding: 2rem;
    }

    a:hover {
      color: #fff;
      font-weight: 700;
    }
  }

  nav#mobile-menu {
    position: fixed;
    right: 3rem;
    display: flex;
    padding-top: 2rem;
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
  }

  div {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }

    .pics {
      width: 100%;
      order: -1;

      img {
        width: 70%;
      }

    }

    .text {
      width: 100%;
      font-size: 3.3rem;
      font-weight: 500;
      line-height: 5rem;
      text-align: center;
      color: #000;
      padding-left: 7rem;
      padding-right: 7rem;
      background: #f2f2f2;
    }
  }
}